<div class="row row-centered">
	<div class="col-md-12">
		<h1><%= Spree.t(:editing_wishlist) %></h1>
		<p class="intro">Build a wishlist that you can use for later, or share with friends!</p>
		<%= form_for @wishlist do |f| %>
		  <p><%= f.label :name, Spree.t(:name) %>:&nbsp;<%= f.text_field :name %></p>
		  <p><%= f.check_box :is_private %>&nbsp;<%= f.label :is_private, Spree.t(:is_private) %></p>
		  <p><%= f.check_box :is_default %>&nbsp;<%= f.label :is_default, Spree.t(:is_default) %></p>
		  <%= f.submit Spree.t(:update), class: "btn btn-primary" %>
		  <%= link_to Spree.t(:delete), @wishlist, method: :delete, data: { confirm: Spree.t(:are_you_sure_wishlist) }, class: 'btn btn-warning' %>
		<% end -%>
	</div>
</div>
