<div class="row" style="margin-bottom: 0px"> 
  <div id="wishlist_header" style="margin: 0 20px 0 0; display: inline-block">
    <h1 style="margin: 0; display: inline-block" class="mobile-center"><%= @wishlist.name %></h1>
  </div>
  <div style="margin-top: 10px">
    <% if @wishlist.user == spree_current_user %>
        <div id="manage_wishlist_links" style="display: inline-block; margin-right: 20px">
          <%= link_to Spree.t(:edit_wishlist), edit_wishlist_path(@wishlist), class: 'btn btn-default' %>
        </div>
        <div style="display: inline-block; margin-right: 20px">
          <%= render partial: 'accessibility' %>
        </div>
    <% end -%>
  </div>
</div>
<div class="row" style="margin-top: 0px">
  <div class="table-responsive">
    <table id="wishlist" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><%= Spree.t(:item_view) %></th>
          <th><%= Spree.t(:item_description) %></th>
          <th><%= Spree.t(:availability) %></th>
          <th><%= Spree.t(:date_added) %></th>
          <th><%= Spree.t(:price) %></th>
          <th><%= Spree.t(:desired_quantity) %></th>
          <th><%= Spree.t(:total) %></th>
          <% if @wishlist.user == spree_current_user %>
            <th><%= Spree.t(:wishlist_actions) %></th>
          <% end -%>
        </tr>
      </thead>
      <tbody id="line_items">
      <% if @wishlist.wished_products.size > 0 %>
        <% @wishlist.wished_products.each do |wish|
            variant = wish.variant
            product = variant.product %>
        <tr class="<%= cycle('', 'alt') %>">
          <td>
            <% if variant.images.length == 0 %>
              <%= small_image(variant.product) %>
            <% else %>
              <%= image_tag variant.images.first.attachment.url(:small) %>
            <% end %>
          </td>
          <td>
            <h4><%= link_to product.name, product %></h4>
            <p><%= variant_options variant %></p>
            <%= truncate(strip_tags(product.description), length: 100, omission: '...') %>
          </td>
          <td>
            <% if variant.can_supply? %>
              <h4><%= Spree.t(:in_stock) %></h4>
              <%= form_for :order, url: populate_orders_url, html: { class: "form-inline" } do |f| %>
                <%= hidden_field_tag 'variant_id', variant.id, size: 3 %>
                <div class="form-group" style="max-width: 30%">
                  <%= number_field_tag 'quantity', wish.quantity,  class: "form-control" %>
                </div>
                  <%= link_to Spree.t(:add_to_cart), '#', onclick: '$(this).parent().submit(); return false;', class: 'btn btn-success' %>
                </div>
              <% end %>
            <% else %>
              <h4><%= Spree.t(:out_of_stock) %></h4>
              <%= link_to "Check for other conditions >", product %></p>
            <% end %>
          </td>
          <td>
            <%= wish.created_at.strftime '%m/%d/%Y' %>
          </td>
          <td>
            <%= display_price(variant) %>
          </td>
          <td>
            <%= form_for wish do |f| %>
              <div class="form-group">
                <%= f.number_field :quantity, class: "form-control" %>
              </div>
              <%= f.submit Spree.t('actions.save'), class: 'btn btn-info'  %>
            <% end %>
          </td>
          <td>
            <%= wish.display_total %>
          </td>
          <% if @wishlist.user == spree_current_user %>
          <td>
            <%= link_to wish, method: :delete, class: 'btn btn-danger' do %><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove<% end %>
            <% if spree_current_user.wishlists.count > 1 %>
              <hr>
              <%= form_for wish, html: { class: "form-inline" } do |f| %>
                  <div class="form-group">
                    <%= f.select :wishlist_id, spree_current_user.wishlists.map{|wl| [wl.name, wl.id]}, {:include_blank => "Select"}, { class: "form-control" } %>
                  </div>
                  <%= f.submit Spree.t(:move), class: 'btn btn-default' %>
              <% end %>
            <% end %>
          </td>
          <% end -%>
        </tr>
        <% end -%>
      <% else -%>
        <tr>
          <td colspan="8"><%= Spree.t(:your_wishlist_is_empty) %></td>
        </tr>
      <% end -%>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if @wishlist.user == spree_current_user %>
      <%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-primary', style: "margin-bottom: 5px" %>
      <%= link_to Spree.t(:create_new_wishlist), new_wishlist_path, class: 'btn btn-default', style: "margin-bottom: 5px" %>
    <% end -%>
    <% if respond_to?(:email_to_friend_url) %>
      <%= link_to Spree.t('email_to_friend.send_to_friend'), email_to_friend_url('wishlist', @wishlist), class: 'btn btn-default', style: "margin-bottom: 5px" %>
    <% end %>
  </div>
</div>
